@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Congratulation</title>
    <link rel="stylesheet" href="~/CSS/uikit-rtl.min.css" />
    <link rel="stylesheet" href="~/CSS/uikit.min.css" />
    <script src="~/JS/uikit-icons.min.js"></script>
    <script src="~/JS/uikit.min.js"></script>
</head>
<body>
    <div class="uk-text-large"> 
        Ты проголосовал, поздравляю
    </div>
</body>
</html>
